.icon {  float: right;
    font-size:500%;
    position: absolute;
    top:0rem;
    right:-0.3rem;
    opacity: .16;
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.kpi{
    display: flex;
    justify-content: center;
}
.grey-dark{
    background: #495057;
    color: #efefef;
}
.red-gradient {
    background: linear-gradient(180deg, rgba(207,82,82,1) 0%, rgba(121,9,9,1) 80%);
    color: #fff;
}
.red {
    background: #a83b3b;
    color: #fff;
}

.purple{
    background: #886ab5;
    color: #fff;
}

.orange {
    background: #ffc241;
    color: #fff;
}
.kpi-card{
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.75);;
    display: inline-block;
    float: left;
    padding: 1em;
    border-radius: 0.3em;
    font-family: sans-serif;  width: 240px;
    min-width: 180px;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.card-value {
    display: block;
    font-size: 200%;  font-weight: bolder;
}
.card-text {
    display:block;
    font-size: 70%;
    padding-left: 0.2em;
}


/* CSS VARIABLES */
/* :root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}    */

img {
    max-width: 100%;
}

h1 {
    /* padding-top: 60px; */
}

/* MAIN CONTIANER */
.main-container {
    padding: 5px 10px
}

.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box .book-link {
    transition: transform .2s;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.box .book-link:hover {
    transition: transform .2s;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);  
    transform: scale(1.1);
}
.box img {
    border-radius: 5px; /* Add border radius for rounded corners */
    max-width: 100%; /* Set maximum width to prevent stretching */
    max-height: 100%; /* Set maximum height to prevent stretching */
    width: auto; /* Allow the width to adjust automatically */
    height: auto; /* Allow the height to adjust automatically */
    transition: transform 0.3s ease; /* Apply transition effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

/* Style for containers with no image */
.no-image {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    height: 100%;
    width: 100%;
}